body {
  background-color: #b2bdc8;
}

.wrapper {
  background-color: #f2d39f;
  padding: 30px;
  display: inline-block;
  border: 2px solid #5a5b5b;
  vertical-align: top;
}

.container {
  width: 400px;
  height: 400px;
  outline: 2px solid #5a5b5b;
}

.container div {
  float: left;
  width: 12.5%;
  height: 12.5%;
  outline: 1px solid #5a5b5b;
  position: relative;
}

.container div img {
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
  width: 150%;
}

svg {
  margin: 0 auto;
}

.node circle {
  fill: #fff;
  stroke: black;
  stroke-width: 1px;
}

.node text { font: 12px sans-serif; }
.node .antagonist { font-size: 8px; }

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}
